//registry.npmjs.org/:_authToken=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
init.author.name=Marta Molina Fernández
init.author.email=e.marta11192@go.ugr.es
init.author.url=https://github.com/MartaMolina01
access=public
@ull-esit-dsi-1617:registry=https://registry.npmjs.org/
//10.6.128.127:8081/:_password="blahblahencrypted"
//10.6.128.127:8081/:username=crguezl
//10.6.128.127:8081/:email=whatever@gmail.com
//10.6.128.127:8081/:always-auth=false
@ULL-ESIT-PL-2223:registry=https://npm.pkg.github.com
@ull-esit-pl-1920:registry=https://npm.pkg.github.com
//npm.pkg.github.com/:_authToken=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
@PAL-ULL:registry=https://npm.pkg.github.com
@pal-ull:registry=https://npm.pkg.github.com/
